<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Blog - Virus Checker</title>
  <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
  <%- include ("partials/header") %>

  <section class="result-section">
    <h1>There is a high chance you're Facing "<%= Malware %>"</h1>
    <div class="feedback">
        <br>
      <h3>What is <%= Malware %>?</h3>
      <p><%= MainMalwareExplained %></p>
      <h3>Solutions: </h3>
      <div id="sol"><%- MainMalwareSolution %></div>
      <br>
      <br>
      <hr>
      <br>
      <br>
      <h3>No Malware Found</h3>
      <p>If the Solution explained has not solved your problem then you should check the other possible Malware, symptoms and solutions <a href="https://www.techtarget.com/searchsecurity/definition/malware"> by clicking on this link</a>.</p>
      <!-- <h2>Other possible Causes</h2> -->
      <!-- <h3></h3> -->
      <!-- <div id="sol2"></div> -->
    </div>
    <!-- Additional blog posts here -->
  </section>

  <%- include ("partials/footer") %>
</body>
</html>
